.spot-reviews {
    margin-top: 20px;
}

.review {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.review-name {
    font-weight: bold;
}

.review-date {
    color: #777;
    font-size: 0.9rem;
}

.review-comment {
    margin-top: 10px;
}
